version: '3.8'
services:
  mysqldb:
    image: mysql:8.0
    container_name: proiect_mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: magazin_alimentar
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
volumes:
  db_data: